/1080p_variantE impulse.jsx
/Adobe After Effects Auto-Save
/beat_jump_random_frame.jsx
/beat_jump_random_pointer.jsx
/beat_jump_random_pointer_2pass.jsx
/beat_jump_random_pointer_controls+audio_history.jsx
/beat_jump_random_pointer_controls.jsx
/beat_jump_random_pointer_controls_2.jsx
/Pack Audio History.jsx
*.aep
!2024_template.aep
!2024_template_without_effects.aep
/**/*.lnk
/**/*.zip
tweak_shader_ae_plugin/bz_bass.glsl
tweak_shader_ae_plugin/grayscale.glsl
tweak_shader_ae_plugin/Image Input Example.glsl
