/1080p_variantE impulse.jsx
/Adobe After Effects Auto-Save
/beat_jump_random_frame.jsx
/beat_jump_random_pointer.jsx
/beat_jump_random_pointer_2pass.jsx
/beat_jump_random_pointer_auto_thresholds.jsx
/beat_jump_random_pointer_auto_thresholds_fwd_bwd.jsx
/beat_jump_random_pointer_controls+audio_history.jsx
/beat_jump_random_pointer_controls.jsx
/beat_jump_random_pointer_controls_2.jsx
/Pack Audio History.jsx
/**/*.aep
/**/*.lnk
/**/*.zip
